*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--body-font);
  background: url('https://www.imageshine.in/uploads/gallery/Free-vector-hand-painted-watercolor-abstract-watercolor-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}